<footer>
    The Hollow Men © 2020 MSL<br>
    Photo and layout inspired from <a href="https://msu.edu/~jungahre/transmedia/the-hollow-men.html" target="_blank">MSU</a><br>
    <br>
    Powered by Hexo.
</footer>