<div id="categories-menu" class="menu hidden">
    <h3>categories</h3>
    
    <%- list_categories({
        class: 'item',
        show_count: false,
        style: 'none',
        separator: ''
    }) %>
    
</div>
<div id="tags-menu" class="menu hidden">
    <h3>tags</h3>
    
    <%- list_tags({
        class: 'item',
        show_count: false,
        style: 'none',
        separator: ''
    }) %>
    
</div>